<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Student Registration Form</title>
  <base href="/">
    <link rel="stylesheet"  type="text/css" href="static/css/patient.css">
    {% load static %}

<link rel="stylesheet" type="text/css" href="static/css/style3.css">

</head>

<header>

	<nav class="menu">

  <nav class="connexion">
      <i class="fas fa-search"></i>
    <a href="connexion">Home</a>
    <i class="fas fa-search"></i>
    <a href="visualisation">Visualisation</a>
      <i class="fas fa-search"></i>
    <a href="patient">Add patient</a>
      <i class="fas fa-search"></i>
    <a href="patients">Patients</a>
  </nav>

    </nav>

</header>

<body>
<br><br><br><br>

<div class="container">



<table class="rwd-table" cellpadding = "10">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
<!----- First Name ---------------------------------------------------------->
<tr>
<td>Nom</td>
<td><input type="text" name="First_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Last Name ---------------------------------------------------------->
<tr>
<td>Prenom</td>
<td><input type="text" name="Last_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Date Of Birth -------------------------------------------------------->
<tr>
<td>Date de naissance</td>

<td>
<input type="date" id="start_date" name="start_date">
</td>
</tr>

<!----- Ville ---------------------------------------------------------->
<tr>
<td>Ville</td>
<td><input type="text" name="Ville" maxlength="100" /></td>
</tr>

<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>Numero de telephone</td>
<td>
<input type="text" name="Mobile_Number" maxlength="10" />
(10 digit number)
</td>
</tr>

<!----- Gender ----------------------------------------------------------->
<tr>
<td>Genre</td>
<td>
Homme <input type="radio" name="Gender" value="Male" />
Femme <input type="radio" name="Gender" value="Female" />
</td>
</tr>

<!----- Address ---------------------------------------------------------->
<tr>
<td>Adresse <br /><br /><br /></td>
<td><textarea name="Address" rows="4" cols="30"></textarea></td>
</tr>

<!----- CIN ---------------------------------------------------------->
<tr>
<td>CIN</td>
<td><input type="text" name="CIN" maxlength="30" />
(max 30 characters a-z and A-Z)
</td>
</tr>


<!----- Country ---------------------------------------------------------->
<tr>
<td>Date visite</td>
<td><input type="date" name="date_visite" id="date_visite" /></td>
</tr>


<!----- Qualification---------------------------------------------------------->
<tr>
<td>X-RAY image<br /><br /><br /><br /><br /><br /><br /></td>
    <td><input name="image" type="file" ></td>
<td>

</td>
</tr>

<!----- Results ---------------------------------------------------------->
<tr>
<td>Resultat de prediction</td>

<td>

</td>
</tr>

<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="submit">
</td>
</tr>
    </form>
</table>

</form>


</div>

</body>
</html>
<!-- partial -->

</body>
</html>
